.col-50-sp {
  background: #fff;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.row {
  margin: 7px;
}

.center {
  color: #33ccff;
}

img {
    max-width: 100%;
    max-height: 256px;
    height: auto;
    width: auto\9;
}

.button {
  margin-bottom: 8px;
}

.feature {
	margin-bottom: 40px;
}

.feature-image {
	width: 300px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: 8px;
  margin-top: 20px;
  background: #fff;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.feature-info {
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
	width: 350px;
	font-size: 18px;
  text-align: justify;
}

.feature-info ul {
	font-size: 18px;
}

.feature-title {
	margin-left: 15px;
	font-size: 35px;
	width: 340px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

.popup-title {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 35px;
  padding-bottom: 10px;
  border-bottom: 1px #ccc solid;
  margin-bottom: 10px;
  max-width: inherit;
}

.popup-desc {
  margin-left: 15px;
}

.popup-info {
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  max-width: inherit;
}

.popup-info ul {
  font-size: 18px;
}

.feature-desc {
	margin-left: 15px;
}

.page-content {
  background: #F5F5F5 ;
}

.col-auto {
  border-color: #E91E63;
  border-width: 2px;
  background-color: #FFFFFF;
  max-width: 384px;
  max-height: 384px;
}

.eight-px-margin_left {
  margin-left: 8px;
}

textarea {
  font-family: inherit;
  font-size: inherit;
  margin-top: 12px;
}

.card-header-text {
  font-family: inherit;
  font-size: 20px;
  color: #616161;
}

.card-footer-text {
  font-size: 14px;
  margin-right: 8px;
  border-radius: 2px;
}

.searchbar {
  margin-right: 7px;
}

.search_not_found {
  text-align: center;
  font-family: inherit;
  font-size: 20px;
}

.list-custom {
  list-style-type: none;
  margin-left: -43px;
  margin-top: -2px;
}

.list-all-custom {
  list-style-type: none;
  margin-left: -43px;
  margin-top: -7px;
}

.searchbar_widget {
  width: 154px;
  margin-right: -15px;
}

.login-icon {
  margin-right: 12px;
}

.button-detail {
  margin-bottom: 0px;
}

.card_background {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 16px;
  background: #fff;
  position: relative;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card_info {
  padding-top: 12px;
  width: auto;
  font-size: 20px;
  text-align: center;
  margin-bottom: -24px;
}

.search_email_button {
  width: 200px;
  max-width: 200px;
}

.input_email {
  max-width: auto;
}

.email_label {
  max-width: auto;
  width: 128px;
}

.with_seperator {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #E1E1E1;
  padding-bottom: 8px;
}

.friend-screen-title{
  font-size: 22px;
  margin-top: 30px;
}
