.col-auto {
  background: #FFF;
  text-align: center;
  color: #000;
  border: 1px solid #ddd;
}

.row  {
  margin-bottom: 10px;
  margin: 12px;
}

.center {
  color: #33ccff;
}

img {
    max-width: 100%;
    max-height: 256px;
    height: auto;
    width: auto\9;
}

.button {
  margin-bottom: 8px;
}

.feature {
	margin-bottom: 40px;
}

.feature-image {
	width: 300px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
	border-radius: 6px;
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.26);
  margin-left: 8px;
  margin-top: 20px;
}

.feature-info {
	margin-top: 10px;
	display: inline-block;
	vertical-align: top;
	width: 350px;
	font-size: 18px;
}

.feature-info ul {
	font-size: 18px;
}

.feature-title {
	margin-left: 15px;
	font-size: 35px;
	width: 340px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}

.feature-desc {
	margin-left: 15px;
}

.page-content {
  background: #F5F5F5 ;
}

.col-auto {
  border-color: #E91E63;
  border-width: 2px;
  background-color: #FFFFFF;
  max-width: 384px;
  max-height: 384px;
}

.eight-px-margin_left {
  margin-left: 8px;
}

.popup-001 {
  border-color: #E91E63;
  border-width: 2px;

}
